*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f6f8f9;
}
main{
    margin: 4% 18%;
}

a{
    text-decoration: none;
}
/* HEADER */
.header{
    background-color: white;
    padding: 3px 10px;
    width: 100%;
}

.header-inline{
    display: inline-block;
    vertical-align: middle;
}

#title-logo{
    font-weight: 900;
}

/* /HEADER */



/* MAIN */
.navbar,.container{
    background-color: white;
    padding-left: 7%;
    border-radius: 10px;
}

/* navbar */
.navbar{
    padding-top: 2%;
    padding-bottom: 1%;
}

.nav-click,.nav-unclick{
    display: inline-block;
}
.nav-click,.nav-unclick{
    padding: 3px 15px;
    border-radius: 10px;
}
.nav-click{
    background-color: #47adf1;
}

.nav-unclick{
    border: 1px #c1c1c1 solid;
}

.nav-white,.nav-lightgrey{
    font-size: 0.8em;
}

.nav-white{
    color:white;
}
.nav-lightgrey{
    color: #cfd4d8;
}
/* /navbar */



/* container */
.container{
    margin-top: 2px;
    padding-top: 3%;
}

.container a {
    color:white;
}


/* lista */
/* ul{
    list-style: none;
} */
.task-title{
    font-size: 1.7em;
}

.task-activity li{
    font-size:1.2em;
}

/* link */
.link-editorial,.link-q1goals,.link-recruiting,.link-mobile,.link-website,.link-sales{
    font-size: 0.7em;
}
.link-editorial{
    background-color: #45abea;
}
.link-q1goals{
    background-color: #9c72e4;
}
.link-recruiting{
    background-color: #64c0a9;
}
.link-mobile{
    background-color: #f29e33;
}
.link-website{
    background-color: #d863a1;
}
.link-sales{
    background-color: #b0c926;
}
/* link */
/* lista */

/*container */

/* MAIN */