body{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
    background-color: #f6f8f9;
}

main{
    margin: 5% 20%;
}

/* sfondi bianchi */
.header,.navbar,.container{
    background-color: white;
}
/* /sfondi bianchi */

/* border-radius: */
.header,.container,.nav-click,.nav-unclick{
    /* border-radius: ; */
}
/* /border-radius: */


/* imposta elementi da visualizzare sulla stessa riga, di predefinito impostati su display:block */
#titolo-logo,.nav-click,.nav-unclick{
    display: inline-block;
}
/* Fine inline-block */

/* formattazione link,non evidenziati bianchi */
a{
    text-decoration: none;
}
/* /formattazione link */

/* nav */
.nav-click{
    background-color: #47adf1;
}

.nav-unclick{
    border: 1px #c1c1c1 solid;
}

.link-white{
    color:white;
}
.link-lightgrey{
    color: #cfd4d8;
}
/* nav */

.navbar,.container{
    padding: 3% 10% 2%;
}

/* container */
.container{
    margin-top:2px;
}

/*
.task-title::before{
    content:;
}
*/

.container a {
    color:white;
}
/*container */